<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734731438631-e3u7e0m6p6qac6ds8j76pi25tenofse0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734731438631-e3u7e0m6p6qac6ds8j76pi25tenofse0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734731438631-8alvvugui0iiu4im24178sbraltirs9m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABeypdm2QEwvSSI8LpyP1lBJDRiUnURUk</string>
	<key>GCM_SENDER_ID</key>
	<string>734731438631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rsocial</string>
	<key>PROJECT_ID</key>
	<string>rsocial-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>rsocial-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734731438631:ios:43303969e979d44b3fdc02</string>
	<key>DATABASE_URL</key>
	<string>https://rsocial-uat.firebaseio.com</string>
</dict>
</plist>